<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prod_Manger</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SharedItems/SideBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SharedItems/NavBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SharedItems/Buttons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Structure.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/TextAndColor.css" asp-append-version="true" />
</head>
<body>
    <header>
    </header>
    <div class="wrapper app-container">
        <partial name="_NavBarPartial" />
        <partial name="_SideBarPartial" />


        <div id="content" class="app-content">
            <button type="button" id="sidebarCollapse" class="slide-bar-tooggle-btn text-xlarge">
                <i class="fas fa-align-left"></i>
                buttone
            </button>

            <main role="main">
                <div id="loadingId" style="display:none;backdrop-filter: blur(10px);position:relative;z-index:100;width:100%;height:100%">
                    <div class="loader">
                    </div>
                    <div style="text-align:center"> <h1>Please wait! Ongoing process!</h1></div>
                </div>
                <div>
                @RenderBody()
                </div>
            </main>
        </div>
    </div>

    <input type="hidden" id="appUrl" value="@Url.Content("~")/" />

@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Prod_Manger - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/FrontEnd.js" asp-append-version="true"></script>
    <script src="~/js/Services.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
